Button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
button:focus { outline:0 !important; }

button:hover{
    transition: 0.2s;
    transform: scale(1.1);
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }
 .carouselSection{
    width : 70%;
    float : left;
    padding:50px;
    padding-top: 25px;
    margin-top: 70px;
}
button:focus {outline:0;}
h1{
    font-size: 35px;
    margin: 72px;
    color:#262525;
  }
 
.lock, .fa-lock{
    left: 50%;
    transform: translate(-50%, 0);
}
.carousel{
    border : 1px solid #ccc;
    padding: 15px;
}
.waves{
    position : absolute; 
    width:100%;
    left: 0 ;
}
.registrationSection h1{
    margin : 0 auto;
    max-width: 50%;

    /* margin-top: -95px; */
    
}
/* .registrationSection{
    /* margin-top: -95px; }*/
/* for the header wave */
/* svg{
    min-height: 300px;
    /* background : white !important; */
/* } */
svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
  }

/* .headerImage{
    width: 100%;
    height:350px;
} */
/* for registration */
.registrationHeading{
    color :#7a7a7a;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
}
.registrationButton{
    width : 85%;
    color : #302f2f;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 20px;
    padding : 10px;
    background: rgb(144,144,144);
background: linear-gradient(90deg, rgba(144,144,144,1) 0%, rgba(214,214,214,1) 35%, rgba(255,255,255,1) 100%);
    border : none;
    outline : none;
    font-weight:  600;
    transition: 0.2s;

}
.registrationButton:hover  {
    color:white;
    background: rgb(45,43,43);
    background: linear-gradient(90deg, rgba(45,43,43,1) 0%, rgba(156,152,152,1) 32%, rgba(237,237,237,1) 86%, rgba(255,255,255,1) 100%);
}

.registrationFields{
    width : 85%;
    padding:15px 0 15px 0 ;
    margin: 0 auto;
}
.registrationFields input{
    width: 100%;
    padding: 10px 2px 10px 2px;
    background: #f1f1f1;
    outline: 1px solid #ccc;
    font-size: 12px;
    border: none;
}

.tabsSection li {
    transition: .3s ;
}
.tabsSection li:hover {
    background :#a6a1a1;

}
.searchbar{
    display: table;
    margin: 0 auto;
    padding:20px;
}

.bookdetailHeader{
    margin-top: 20px;
    background :#e9e9e9;
    padding :20px;
}
.bookHeading{
    margin-left: 40px;
    padding: 20px;
}
.left-subSection, .right-subSection{
    margin-top:40px;
    margin-bottom: 40px;
}
.line-divide{
    display: table;
    max-width: 60%;
    margin : 0 auto;
    height:2px;
    color: black;
}

.lock{
    position: absolute;
    top : 50%;
    font-size: 14px;
    color:white;

}
.lock .fa-lock{
    position: absolute;
    color:white;
    border:50%;
    border-radius: 1px solid #ccc;
}
.float-right .addwishlist{
    display: float;
}
.credentials{
    margin : 10px;
    font-size: 13px;
    float: left;
    min-height: 30px;
}


.loginButton,.logoutButton{
    cursor: pointer;
    float: left;
    background: rgb(144,144,144);
    /* background: linear-gradient(90deg, rgba(144,144,144,1) 0%, rgba(214,214,214,1) 35%, rgba(255,255,255,1) 100%); */
    border: none;
    outline: none;
    min-height: 30px;
    color:white;
    min-width: 100px;
    margin : 10px;
}
.headerItems{
    padding: 2px;
    border-left: 1px solid #ccc;
    cursor: pointer;
    margin: 10px;
    min-width: 164px;
    list-style: none;
    text-align: center;
}
.registerDetails{
    width: 80%;
    outline: none;
    border: 1px solid #ccc;
    margin: 15px;
    font-size: 14px;
    min-height: 10px;
    line-height: 40px;
    background: none;
}
.quotes{
    position: relative;
    width:100%;
    font-size: 28px;
    /* color; */
}
.quotes img{
    width: 100%;
    margin-top: 30px;
}
.api-call, .reviews{
    padding:0 40px;
    font-weight: 600;
}

.genresWrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    margin-top: 70px;
}
.similar{
    margin:0 auto;
}
.genresList{
    margin:20px;
    display:inline-flex;
    border: 1px solid #ccc;
}
.genresBased{
    position: relative;
}

.genresBasedHeading h1{ 
    padding: 17px;
    color: #4f4b4b;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600;
}
.bookHeading{
    font-size: 16px;
    font-weight: 600;
}
.description{
    font-weight: 100;
    
}.bookHeading{
    font-weight: 600;
    word-spacing: 1px;
}

.productFeedback .fa-star{
    color: goldenrod;
    font-size: 22px;
    padding-left: 10px;
    cursor: pointer;

}
.addwishlist{
    margin:10px 0 10px 0;
    color:white;
}
.addwishlist .fa-shopping-cart{
    font-size : 25px;
      padding: 15px;
    background: #33666a;
    cursor: pointer;
}
.addwishlist .fa-shopping-cart:hover{
    background-color: #23484b;
    transition: .3s;
}
.addwishlist .fa-heart:hover{
    background-color:#6c2121;
    transition: .3s;
}
.padding-top-20{
    padding-top: 20px;
}
a{
    color:white !important;
}
a:hover{
    color:#ccc;
}
.addwishlist  .fa-heart{
    font-size : 25px;
    padding: 15px;
  background: #b47070;
  cursor: pointer;
}
.headerItems p{
    margin-bottom: 0;
}
.bookHeadingWrap{
    margin-left: 5%;
    margin-top: 5%;
    font-size: 24px;
    font-weight: 600;
}
.line-divide{
    padding: 80px;

}
.fa-text{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    vertical-align: middle;
    margin-left: 10px;
}
.userrating{
    padding:0 0 20px 0;
    padding-left: 0;
    font-size: 16px;

}
.productFeedback.bookHeading{
    padding-top: 10px;
}
.reviewsWrap{
    padding: 40px;
background: #f8f8f8;
margin: 0 0 0 60px;
border-radius: 10px;
}

.reviewImg{
    border-radius : 50%;
    height:50px;
    width:50px;
}
.review{
    margin-top: 10px;
    max-height: 600px;
    overflow: scroll;
}
.reviewSubheading{
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}
.reviewStart .fa-star{
    color:goldenrod;
}
.reviewDescription{
    text-align: justify;
    font-size: 14px;
}

.downvotes, .upvotes{
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
}
.downvotes:hover, .upvotes:hover{
    transition: 0.2s;
    transform: scale(1.1);
}
.reviewWrapper{
    border-top:1px solid #ccc;
    padding-top: 15px;

}
.reviewContentHeader{
    margin: 10px 0 10px 0;
}
.reviewStart .fa-thumbs-up, .upvotes{
    color: #69cf69;
}
.reviewStart .fa-thumbs-down, .downvotes{
    color:  #d95b5b;
}
.booklist.addwishlist{
    margin-right: 30px;
    background-color: green;

}

.similar h1{
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    padding:20px;
}
.comment{
    margin-top: 10px;
    border-top: 1px solid #ccc;;
    padding-top: 30px;
}
.commentButton{
    border:none;
    outline : none;
    background: #ccc;
    min-height: 60px;
    width:30%;
    color : black;
}
.commentBox{
    font-size: 14px;
    outline: none;
    text-shadow: none;
    border:none;
    min-height: 60px;
    width:70%;
}

.quoteAuthor{
    padding:10px;
    font-weight: 600;
    font-size: 14px;
}
.quote{
    padding: 10px;
    font-size: 16px;
    color: #514f4f;
}
.todoWrapper{
    max-width: 500px;
    height:500px;
    background: #ccc;
}
.customWishlist{
    min-height: 300px;
    max-width: 400px;
    color: #ccc;
    border : 1px solid #ccc
}

.wihlishtouterWrap{
    position: absolute;
    top:20%;
    left:30%;
}

.goalset{
    /* border: 1px solid #ccc; */
    padding:10px
}
.specificTask{
    border: 1px solid #ccc;
    margin-right: 10px;
    
}
.specificTask .innerWrapper{
padding:10px;
}
.readBook{
    background: #59aeac;
    padding: 8px;
    color: white;
    border-radius: 10px;
    margin: 10px;
    text-align: right;

}
.read_genre{
    font-size: 14px;
    color:#535151;
}
.libraryHeader, .todoheader{
    font-size: 16px;
    background: #eeeeee;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    font-weight: 600;
    color: #393936;
}
.markRead{
    text-align: left;
    font-size: 12px;
    border-bottom: 1px solid #ccc;;
    color:green;
}

.customWishlist{
    position:absolute;
    top:50%;
    background-color: #ccc;
    z-index: 999;
    left:40%;
}
.avatar{
    max-width: 100px;
    max-height: 100px;
}
.title{
    padding: 5px;
    text-align: left;
    font-weight: 600;
}
.titleDescriptio{
    margin-left: 5px;
    font-weight: 100;
}
.goalset{
    padding:20px;
}
.upperSection{
    min-height: 300px;
}
.upperSection .common-marginborder{
    margin:10px;
    border-radius: 20px;
    border:1px solid #ccc;
    min-height: 350px;
}

.common-marginborder{
    margin:10px;
    max-height: 400px;
    overflow: scroll;
    border-radius: 20px;
    border:1px solid #ccc;
    min-height: 400px;
}
.details{
    font-size: 18px;
    text-align: left;
    padding: 10px 10px 10px 0;
    color: #54a384;
}

.goal-summary{
    margin: -10px 10px 40px ;
    border-radius: 20px;
    border:1px solid #ccc;
    min-height: 350px;
}
.margin-top-100{
    margin-top: 100px;
}
.progress{
    margin : 5px !important;
    min-height: 30px !important;
    background-color: #e1e1e1 !important;
}

.avatarHeading{
    font-size: 16px;
    margin-top: -30px;
    color: #6cb49b;
    font-weight: 600;
    padding-bottom: 20px;
}
.fa.fa-arrow-up{
   color: #4debc9;
}
.dashboardHeading{
    text-align: center;
    color:#474444;
}
.setWidth{
    max-width: 95%;
    margin:0 auto;
}
#todolist{
    margin: 40px 40px 30px 40px;
  
}
#todolist input{
    min-height: 40px;
    outline: none;
    border:1px solid #ccc;
    min-width: 200px;
}
.specificTask{

border: none;
margin-right: 10px;
min-width: 265px;
float: left;
margin: 0px 0 5px 45px;
padding: 8px;
text-align: left;
}

.todoDelete{
    background: #dd4949;
    padding: 10px;
    margin: 0 2px 5px 0;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

.taskinfo{
    font-weight: 600;
    margin:10px;
    padding:10px;
    color:#f25252;
}
.comletedTask{
    color:green;
    padding:10px;
}
.cartItems{
    padding: 20px  0 0 30px;
    text-align: left;
}
.todoitemslist{
    max-height: 195px;
    overflow: scroll;
    padding-top:3px;
}

.totalBooks{
    text-align: left;
    padding: 30px 0  0 30px;
    color: #7575dd;
    font-weight: 600;
}
.footer{
    min-height: 200px;
    margin-top: 200px;
    background : #ccc;
}

.deleteComment{
    font-size: 12px;
    margin-left: 1px;
}

.emptyCart{
    text-emphasis: center;
    font-size: 122px;
    color:#ccc;
    padding:40px;
}